@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

//Dark schemes

$dark-color-text: rgb(170, 170, 170);
$dark-color-theme-1: rgb(23, 8, 77);
$dark-color-theme-2: rgba(97, 54, 255, 1);
$dark-color-theme-3: rgba(70, 26, 230, 1);
$dark-color-theme-4: rgba(153, 137, 0, 1);
$dark-color-theme-5: rgba(230, 209, 25, 1);
$dark-shade-value: 15%;
$dark-btn-color: rgba(255, 255, 255, 0.377);
$dark-btn-hover-color: rgba(201, 204, 22, 1);

// Main setup
:root {
  // Body background
  --color-body-bg-main: #{$dark-color-theme-1};
  --color-body-bg-secondary: #{shade($dark-color-theme-1, 50%)};

  // Text
  --color-text-primary: #{$dark-color-text};
  --color-text-secondary: #{$dark-color-theme-5};
  --color-text-tercial: #{$dark-color-theme-5};
  --color-text-shadow: #{shade($dark-color-theme-5, 90%)};

  //Cards
  --color-card-bg: #{darken($dark-color-theme-1, 4%)};
  --color-card-border: #{shade($dark-color-theme-1, 10%)};
  --color-card-shadow: #{shade($dark-color-theme-1, 50%)};

  // Links
  --color-link: #{$dark-color-theme-2};
  --color-link-hover: #{shade($dark-color-theme-5, 5%)};

  //Icons
  --color-tag-icon: #{light($dark-color-theme-1, 40%)};

  // Buttons
  --color-btn: #{$dark-btn-color};
  --color-btn-grad: #{shade($dark-btn-color, 20%)};
  --color-btn-hover: #{$dark-btn-hover-color};
}
